@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 60 30% 96%;
    --secondary-foreground: 242 53% 40%;
    --popover-foreground: 60 30% 96%;
    --primary-foreground: 60 30% 96%;
    --accent-foreground: 60 30% 96%;
    --muted-foreground: 60 30% 96%;
    --card-foreground: 60 30% 96%;
    --destructive: 0 80% 50%;
    --background: 245 80% 23%;
    --foreground: 60 30% 96%;
    --secondary: 242 50% 70%;
    --popover: 245 80% 24%;
    --primary: 242 53% 52%;
    --border: 245 80% 68%;
    --accent: 242 40% 60%;
    --muted: 245 40% 30%;
    --input: 245 80% 41%;
    --card: 245 80% 24%;
    --ring: 242 53% 52%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-red-hat-mono);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-manrope);
  }
}
